bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.log

Livefront.ReferralAPI.sln.DotSettings.user
.idea/.idea.Livefront.ReferralAPI/.idea/*
Livefront.Referrals.API/Referrals.db

Livefront.Referrals.API/Referrals.db-shm

Livefront.Referrals.API/Referrals.db-wal

.DS_Store
