bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.log

Livefront.ReferralAPI.sln.DotSettings.user

.idea/.idea.Livefront.ReferralAPI/.idea/indexLayout.xml

.idea/.idea.Livefront.ReferralAPI/.idea/vcs.xml
